.app-steps-container {
  background-color: #111;
  color: white;
  padding: 11.5rem;
  font-family: Arial, sans-serif;
}

.app-steps-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: SyneBold;
}
p {
  font-family: RubikRegular;
}

.app-steps-content {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.app-steps-text {
  flex: 1;
  max-width: 600px;
}

.app-steps-text p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.app-steps-text ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.app-steps-text li {
  margin-bottom: 1rem;
}

.app-steps-text strong {
  color: #ddd;
}

.app-steps-image {
  flex: 1;
  max-width: 500px;
}

.app-steps-image img {
  width: 100%;
  border-radius: 8px;
}
.process-container {
  background-color: #111;
  color: white;
  padding: 12rem;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

.process-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.process-item {
  margin-bottom: 1.5rem;
}

.process-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.process-description {
  font-size: 1rem;
  color: #bbb;
  margin: 0;
}

.process-footer {
  margin-top: 2rem;
  font-size: 1rem;
  color: #bbb;
  text-align: center;
}

@font-face {
  font-family: SyneBold;
  src: url("../assests/fonts/Syne-Bold.ttf");
}
@font-face {
  font-family: RubikRegular;
  src: url("../assests/fonts/Rubik-Regular.ttf");
  /* font-weight: bold; */
}
