.projects-section {
  padding: 2rem;
  background-color: #141414;
  /* text-align: center; */
}

.projects-section h2 {
  font-size: 3.5rem;
  font-family: SyneBold;
}

.projectbio {
  font-size: 1em;
  line-height: 1.6;
  text-align: left;
  padding: 1px 10rem;
}

.explore-more-button {
  background-color: #ff5722;
  padding: 0.8rem 1.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5rem;
}

.project-card {
  margin-top: 2rem;
  /* /  display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.project-video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-card p h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: SyneBold;
  text-align: left;
  color: #ffff;
  /* padding: 1px 10rem; */
}

@font-face {
  font-family: SyneBold;
  src: url("../assests/fonts/Syne-Bold.ttf");
}

@font-face {
  font-family: RubikRegular;
  src: url("../assests/fonts/Rubik-Regular.ttf");
  /* font-weight: bold; */
}

.project-card p {
  font-size: 1.4rem;
  color: #888;
  font-family: RubikRegular;
}